{{'-----------------------------------------------------------'}}
{{'NAME'.ljust(20)}}{{'VLAN_ID'.ljust(20)}}
{{'-----------------------------------------------------------'}}
{% for vlan in json_output %}
{{ vlan['name'].ljust(20) }}{{ vlan['vlanid'] }}
{% endfor %}
{{'-----------------------------------------------------------'}}

